/*
    Default Theme
    ------------------------

    Font: Raleway & Open Sans
    Colors:
    ========
    Tahiti Gold: #e57824,
    Black Russian: 212226,
    White Smoke: F4F4F4,
    White: FFFFFF,
    Eclipse: 3d3d3d

*/

/*============================
    Pre loader
============================*/
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/preloader-ball.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    /*for set in center*/
    margin-left: -35px;
    /*for set in center*/
}